header {
    background-color: #8FDB93; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .header__logo-container {
    display: flex;
    align-items: center;
  }
  
  
  .header__logo {
    width: 100px; 
  }
  
  
  .header__titulo {
    margin: 0;
    color: #333; 
    margin-left: 0px; 
  }
  
  
  .nav-principal a {
    color: #333; 
    text-decoration: none;
    margin-left: 20px; 
  }
  
  
  .nav-principal a:hover {
    color: #FFFFFF; 
  }

  

.contacto {
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.contacto h3,
.contacto p {
  margin-bottom: 20px;
}

.main__parrafo {
  
  padding: 10px;
  background-color: #978e8e; 
}


/* Contenedor principal del formulario y logo */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos en la parte superior */
  max-width: 1000px; /* Ajusta el ancho máximo según sea necesario */
  margin: auto;
}

/* Formulario */
.form-container {
  max-width: 1000px;
  text-align: center;
}

.form label {
  display: block;
  margin-top: 17px;
}

.form input,
.form textarea {
  width: 110%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.form button:hover {
  background-color: #45a049;
}

/* Logo de EcoFit */
.ecofit-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 220px; /* Ajusta el tamaño del logo según sea necesario */
  margin: 70px; /* Ajusta el margen según sea necesario */
  animation: agrandarDesagrandar 1s infinite alternate;
}

@keyframes agrandarDesagrandar {
  to {
    transform: scale(1.2); /* Ajusta el factor de escala según lo grande que quieras que sea el agrandamiento */
  }
}

a:hover {
  animation: titilacion 0.5s infinite;
}

@keyframes titilacion {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.footer {
  margin-top: auto; /* Esto empujará el pie de página hacia abajo */
}


.footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border: 1px solid #333333;
  padding-top: 30px;
  padding-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-top: 15px;
}

.footer-cont,
.footer-info,
.footer-links {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-info h3,
.footer-links h3,
.footer-cont h3 {
  margin-bottom: 10px; /* Ajusta el espacio entre los <h3> según sea necesario */
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  line-height: 1.5;
  margin-bottom: 5px;
}

.redes-container {
  display: flex;
  align-items: center;
  
}

.redes-container a {
  text-decoration: none; /* Para quitar el subrayado predeterminado */
}

.red-social {
  width: 50px;
  margin-right: 10px; /* Ajusta el margen entre las imágenes según sea necesario */
}

.footer-info .red-social-container {
  display: flex;
  align-items: center;
}

.footer-info img {
  width: 52px; /* Ajusta el tamaño según tus preferencias */
  height: 52px; /* Ajusta el tamaño según tus preferencias */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}


@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
  






































.footer {
    background-color: #425a42; /* Color gris oscuro similar al de la página de referencia */
    padding: 70px;
    text-align: center;
    color: #02240a; /* Texto en blanco */
}

.logo-container {
    float: left;
    margin: 0px 0;
}

.redes-container {
    margin: 0 auto; /* Centra el contenido */
}

.red-social {
    display: inline-block;
    margin: 10px;
}

.red-social img {
    width: 50px; /* Ajusta el tamaño según tus preferencias */
    height: auto; /* Mantiene la proporción original de la imagen */
}

.red-social p {
    margin-top: 5px; /* Espacio entre la imagen y el texto */
    font-size: 15px; /* Tamaño del texto */
}
